/* ------------------------------------ */
/* _______________BASE_________________ */
html {
	scroll-behavior: smooth;
}
body{
	font-family: 'Lato', sans-serif;
}

h3 {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #353738;
}