/* ------------------------------------ */
/* _______________CAROUSEL_____________ */

.carousel {
	background-color: #f7f7f7;
	min-height: 469px;
	padding-bottom: 124px;
	&__body {
		width: 65%;
		height: 100%;
		margin: 0 auto;
		padding-top: 124px;
		text-align: center;
	}
	&__icon {
		width: 30px;
		height: 30px;
		margin: 0 auto;
	}
	&__title {
		font-size: 18px;
		line-height: 1.4;
		font-weight: 700;
		letter-spacing: 0.1em;
		color: #353738;
		margin-top: 37px;
		margin-bottom: 27px;
		span {
			font-weight: 300;
			color: #848789;
		}
	}
	&__text {
		font-size: 24px;
		line-height: 34px;
		font-weight: 400;
		font-style: italic;
		color: #848789;
	}
}
.owl-dots {
	position: absolute;
	bottom: 68px;
	left: 50%;
	transform: translateX(-50%);
}
